<!DOCTYPE HTML>
<html>
	<head>
		<title>page5</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/"> HOME</a></h1>
						<nav class="links">
							
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						

						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">SEO ETHICS</a></h2>
										
									</div>
									<div class="meta">
										<time class="published" datetime="2017-09-04">September 4, 2017</time>
										<a href="#" class="author"><span class="name">Reno Fandino</span><img src="images/pic5.jpg" alt="" /></a>
									</div>
								</header>
								<a class="image featured"><img src="images/pic5.jpg" alt="" /></a>
								<p>The discussion of any SEO Code of Ethics is like a discussion on politics or religion: there are more than two sides, all sides are strongly opinionated, and seldom do they choose the same path to the same end. Most Search Engine Optimization (SEO) practitioners understand these ethics, yet not all practitioners practice safe-SEO. Too many SEO practitioners claim a bias towards surfers, or the search engines, or their clients (all are appropriate in the correct balance), and it is common for the "whatever it takes" excuse to bend some of these ethics to fit their needs. This page does not pass judgment, it simply states the obvious.<br><br>
								<h2>SEO Code of Ethics Language Translations</h2>No SEO practitioner will intentionally do harm to a client.<br>No SEO practitioner will intentionally violate any specifically published and enforced rules of search engines or directories. <br>No SEO practitioner will intentionally mislead, harm, or offend a consumer.<br>No SEO practitioner will intentionally violate any laws.<br>No SEO practitioner will falsely represent the content of the client site. <br>No SEO practitioner will falsely represent others work as their own. <br>No SEO practitioner will misrepresent their own abilities, education, training, standards of performance, certifications, trade group affiliations, technical inventory, or experiences to others.<br>All SEO practitioners will protect the confidentiality and anonymity of their clients with regards to privileged information and items implying testimonial support for the SEO practitioner.  </p>

								
									   
   
							</article>

						
					

						

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2>BLOG NEST</h2>
									<p>SEO ETHICS</a></p>
								</header>
							</section>

						

						<!-- Posts List -->
							<section>
							<h1>ARCHIVES</h1>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="/">ESSENTIALS ABOUT A SUCCESSFUL BLOG</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
											</header>
											<a href="#" class="image"><img src="images/pic1.png" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/page2">Organic Search Traffic Sources</a></h3>
												<time class="published" datetime="2015-10-15">October 15, 2015</time>
											</header>
											<a href="#" class="image"><img src="images/pic2.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/page3">Search engines figuring SEO</a></h3>
												<time class="published" datetime="2015-10-10">October 10, 2015</time>
											</header>
											<a href="#" class="image"><img src="images/pic3.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/page4">SEO and Web Design</a></h3>
												<time class="published" datetime="2015-10-08">October 8, 2015</time>
											</header>
											<a href="#" class="image"><img src="images/pic4.jpg" alt="" /></a>
										</article>
									</li>
									
								</ul>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>Reno Fandino Software Engineering.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://mod-2.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
