<!DOCTYPE HTML>
<html>
	<head>
		<title>HOME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/"> HOME</a></h1>
						<nav class="links">
						
							
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						

						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">SEO TECHNIQUES</a></h2>
										
									</div>
									<div class="meta">
										<time class="published" datetime="2017-09-04">September 28, 2017</time>
										<a href="#" class="author"><span class="name">Reno Fandino</span><img src="images/pic1.png" alt="" /></a>
									</div>
								</header>
								<a class="image featured"><img src="images/pic1.png" alt="" /></a>
								<p><h2>Internet Ethics</h2>Internet ethics means  acceptable behavior for using Internet. We should be honest, respect the rights and property of others on the Internet.<br>
								<h3>Acceptance</h3>One needs to acknowledge that Internet isn't an esteem free-zone .It implies World Wide Web is where esteems are considered in the broadest sense so we should fare thee well while molding substance and administrations and we ought to perceive that Internet isn't separated from all inclusive society yet it is an essential segment of it.<br>
								<h3>Sensitivity to National and Local cultures</h3>It has a place with all and there is no boundary of national and neighborhood societies. It can't be liable to one arrangement of qualities liksensitivity NCe the nearby TV channel or the neighborhood daily paper we need to oblige variety of use.
								<h3>Pretending to be someone else</h3>You must not use Internet to fool others by pretending to be someone else. Hiding our own identity to fool others in the Internet world is a crime and may also be a risk to others.
								<h2>White Hat SEO</h2>In website streamlining (SEO) phrasing, white cap SEO alludes to the use of advancement methodologies, strategies and strategies that emphasis on a human group of onlookers contradicted to web indexes and totally takes after internet searcher principles and arrangements.<br> For instance, a site that is upgraded for web indexes, yet concentrates on significance and natural positioning is thought to be advanced utilizing White Hat SEO hones. A few cases of White Hat SEO methods incorporate utilizing catchphrases and watchword investigation, backlinking, external link establishment to enhance interface prominence, and composing content for human perusers. <br>White Hat SEO is all the more much of the time utilized by the individuals who expect to make a long haul venture on their site. Additionally called Ethical SEO.
								<h2>Black Hat SEO</h2>In website improvement (SEO) phrasing, dark cap SEO alludes to the utilization of forceful SEO systems, strategies and strategies that attention just on web indexes and not a human gathering of people, and for the most part does not obey web crawlers rules. <br>A few cases of dark cap SEO procedures incorporate watchword stuffing, undetectable content, entryway pages, adding irrelevant catchphrases to the page substance or page swapping (changing the site page completely after it has been positioned via web indexes)<br>
								Black Hat SEO is all the more habitually utilized by the individuals who are searching for a speedy monetary profit for their Web webpage, instead of a long haul speculation on their Web website. Dark cap SEO can bring about your Web webpage being prohibited from a web crawler, however since the emphasis is generally on snappy exceptional yield plans of action, most specialists who utilize Black Hat SEO strategies consider being restricted from web crawlers a to some degree unessential hazard..
								<h3>Grey Hat SEO</h3>Grey Hat SEO, on the other hand, is SEO practice that remains “ill-defined” and/or “ill-advised” by search engine published guidelines and which can be disagreeable. In essence, it’s Black masquerading as White. For example, click bait. Click bait refers to a practice where someone posts something like an eye catching link or piece of content that encourages a reader to click and read more.
								<br><br>
								<h2>COMPARING GREY, BLACK, WHITE SEO</h2>
								<table id="t01">
                                <tr>
                              	<th>GREY</th>
    							<th>BLACK</th> 
   								 <th>WHITE</th>
 								 </tr>
 								 <tr>
    							<td>Setting up reciprocal link exchanges between a network of websites</td>		
    							<td>Using spam methods to saturate the comments section of blogs and forums that link to a site</td>
								    <td>Creation of quality website content</td>
								  </tr>
								  <tr>
								    <td>Article spinning to generate ‘unique’ content from existing site content</td>
								    <td>Using hidden text that is not visible to the end user but is readable by search engines (such as white on white text)</td>
								    <td>Website performance optimisation activities</td>
								  </tr>
								  <tr>
								    <td>Buying old or expired domains to absorb existing backlinks</td>
								    <td>Purchasing (or selling) links for the sole purpose of increasing link popularity and rankings</td>
								    <td>Good internal linking to assist search engines in navigating the site</td>
								  </tr>
								</table></p>

								
							</article>

						
					

						

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2>BLOG NEST</h2>
									<p>ESSENTIALS ABOUT A SUCCESSFUL BLOG</a></p>
								</header>
							</section>

						

						<!-- Posts List -->
							<section>
							<h1>ARCHIVES</h1>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="/page2">Organic Search Traffic Sources</a></h3>
												<time class="published" datetime="2015-10-20">September 7, 2017</time>
											</header>
											<a href="#" class="image"><img src="images/pic2.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/page3">Search engines figuring SEO</a></h3>
												<time class="published" datetime="2015-10-15">September 7, 2017</time>
											</header>
											<a href="#" class="image"><img src="images/pic3.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/page4">SEO and Web design</a></h3>
												<time class="published" datetime="2015-10-10">September 7, 2017</time>
											</header>
											<a href="#" class="image"><img src="images/pic4.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/page5">SEO ETHICS</a></h3>
												<time class="published" datetime="2015-10-08">September 7, 2017</time>
											</header>
											<a href="#" class="image"><img src="images/pic5.jpg" alt="" /></a>
										</article>
									</li>
									
								</ul>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>Reno Fandino Software Engineering.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://mod-2.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
								<p class="copyright">&copy; Untitled. Crafted: <a href="http://designscrazed.org/">HTML5</a>.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
