<!DOCTYPE HTML>
<html>
	<head>
		<title>page3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/"> HOME</a></h1>
						<nav class="links">
							
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						

						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Search engines figuring SEO</a></h2>
										
									</div>
									<div class="meta">
										<time class="published" datetime="2017-09-04">September 4, 2017</time>
										<a href="#" class="author"><span class="name">Reno Fandino</span><img src="images/pic3.jpg" alt="" /></a>
									</div>
								</header>
								<a class="image featured"><img src="images/pic3.jpg" alt="" /></a>
								<p><h2>Search Engines</h2> Search Engines are one of a kind in that they give focused on activity—individuals searching for what you offer. Web search tools are the roadways that get this going. On the off chance that web indexes can't discover your website, or add your substance to their databases, you pass up a major opportunity for extraordinary chances to direct people to your webpage.<br><br>
								<h2>SEO</h2> is an advertising discipline concentrated on developing perceivability in natural (non-paid) web index comes about. Website optimization includes both the specialized and innovative components required to enhance rankings, drive movement, and increment mindfulness in web crawlers. There are numerous viewpoints to SEO, from the words on your page to the way different destinations connect to you on the web. Once in a while SEO is only a question of ensuring your site is organized in a way that web crawlers get it. <br><br>
								<h2>Why can't the search engines figure out my site without SEO?</h2>Search Engines are savvy, yet despite everything they require offer assistance. The real motors are continually attempting to enhance their innovation to creep the web all the more profoundly and return better outcomes to clients. In any case, there is a breaking point to how web indexes can work. Though the privilege SEO can net you a great many guests and expanded consideration, the wrong moves can cover up or cover your site somewhere down in the query items where perceivability is insignificant. </p>

								
							</article>

						
					

						

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2>BLOG NEST</h2>
									<p>Search engines figuring SEO</a></p>
								</header>
							</section>

						

						<!-- Posts List -->
							<section>
							<h1>ARCHIVES</h1>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="/">ESSENTIALS ABOUT A SUCCESSFUL BLOG</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
											</header>
											<a href="#" class="image"><img src="images/pic1.png" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/page2">Organic Search Traffic Sources</a></h3>
												<time class="published" datetime="2015-10-15">October 15, 2015</time>
											</header>
											<a href="#" class="image"><img src="images/pic2.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/page4">SEO and Web design</a></h3>
												<time class="published" datetime="2015-10-10">October 10, 2015</time>
											</header>
											<a href="#" class="image"><img src="images/pic4.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/page5">SEO ETHICS</a></h3>
												<time class="published" datetime="2015-10-08">October 8, 2015</time>
											</header>
											<a href="#" class="image"><img src="images/pic5.jpg" alt="" /></a>
										</article>
									</li>
									
								</ul>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>Reno Fandino Software Engineering.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://mod-2.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
								</ul>
								<p class="copyright">&copy; Untitled. Crafted: <a href="http://designscrazed.org/">HTML5</a>.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
